body {
        background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
}

.app-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.random-btn {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.advice-container {
    margin: 50px 100px;
}

.advice {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.advice h1 {
    background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
